body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.faixa nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.faixa nav ul li a {
    font-size: 18px;
    color: green;
    text-decoration: none;
}


.planos {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.plano {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: green;
}

.plano h2 {
    margin-bottom: 10px;
}

.plano h4 {
    font-size: 18px;
    margin: 5px 0;
}

.plano h1 {
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 300px;
    height: 200px;
}
.planos {
    background-color: #7bf639;
    padding: 40px;
    border-radius: 15px;
}
.usuario strong {
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 162, 255);
}

.img {
    width: 300px;
    height: 200px;
}

